<nav class="navbar navbar-expand-lg navbar-dark header fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <div class="container-fluid">
        <a class="navbar-brand ms-3" href="#">
            <img src="../assets/images/logo-snabb.png" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-5">
                <li class="nav-item me-2">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#cantact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class=" banner">
    <div class="bg-banner">
        <div class="d-flex justify-content-center align-items-center flex-column " style="margin:250px auto;">
            <h1 class="text-center mb-3">
                Redefining Web & Mobile <br /><br /> Experience
            </h1>
            <p class="application fs-5 py-5">
                We design, develop and modernise software applications
            </p>
            <button class="btn text-uppercase p-3">
                Contact Us
            </button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="card custom-card p-4">
                            <div class="card-body">
                                <div class="icons">
                                    <i class="fa-solid fas fa-image fs-5"></i>
                                </div>
                                <h4 class="card-title pt-4">BRAND IDENTITY</h4>
                                <p class="card-text">We help companies by analysing their business and provide them cost
                                    effective solutions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="card custom-card p-4">
                            <div class="card-body">
                                <div class="icons">
                                    <i class="fa-solid fa-pen-ruler fs-5"></i>
                                </div>
                                <h4 class="card-title pt-4">UI/UX</h4>
                                <p class="card-text">We design web & app wireframes, mockups, UI/UX & PSD, any graphic
                                    material, and any corporate identity.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                        <div class="card custom-card p-4">
                            <div class="card-body">
                                <div class="icons">
                                    <i class="fa-solid fas fa-code fs-5"></i>
                                </div>
                                <h4 class="card-title pt-4">DEVELOPMENT</h4>
                                <p class="card-text">With our extensive experience and innovative ideas within various
                                    technology stacks, we develop custom solutions for our client.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

