<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 p-5 custom">
                <div>
                    <div>
                        <h1>Custom Development</h1>
                        <p class="py-3">With our extensive experience and innovative ideas within various technology
                            stacks, We
                            develop custom solutions for our client.</p>
                    </div>
                    <div class="pt-4">
                        <ul class="list-unstyled">
                            <li class="mb-2"><span><i class="fa fa-check fs-5 me-3"></i></span><span
                                    class="fs-6">Requirements Gathering</span></li>
                            <li class="mb-2"><span><i class="fa fa-check fs-5 me-3"></i></span><span class="fs-6">Design
                                    and Planning</span></li>
                            <li class="mb-2"><span><i class="fa fa-check fs-5 me-3"></i></span><span
                                    class="fs-6">Development</span></li>
                            <li class="mb-2"><span><i class="fa fa-check fs-5 me-3"></i></span><span
                                    class="fs-6">Testing and Quality Assurance</span></li>
                            <li class="mb-2"><span><i class="fa fa-check fs-5 me-3"></i></span><span
                                    class="fs-6">Deployment</span></li>
                            <li><span><i class="fa fa-check fs-5 me-3"></i></span><span class="fs-6">Maintenance and
                                    Support</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 custom">
                <div class="d-flex justify-content-center align-items-center">
                    <img src="../assets/images/Rectang.jpg" alt="rectang">
                </div>
            </div>
        </div>
    </div>
    <div class="project mt-5">
        <div class="container contact">
            <div class="col">
                <h1>Have a project in mind?</h1> 
                <h1>Let’s get to work.</h1>
            </div>
            <div class="col button">
                <button class="btn text-uppercase p-3">Contact Us</button>
            </div>
        </div>
    </div>
</div>